@import '../../../../Variables.scss';

.scaleControl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12px;
  margin-top: 6px;
  overflow: hidden;
  border-radius: 8px;
  width: 208px;
  height: 36px;
  background: rgba(255, 255, 255, 0.04);
  transition: width 0.3s ease;
  backdrop-filter: blur(300px);
  
  &.expanded {
    width: 150px;
    padding-right: 35px;
  }
}

.scaleRangeInputBox {
  display: flex
  ;
      align-items: center;
      position: relative;
      width: 100%;
      justify-content: flex-start;
}

.scaleRange {
  -webkit-appearance: none;
  appearance: none;
  width: 111px;
  height: 8px;
  background: #c7ced1;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 2px;
    height: 4px;
    cursor: pointer;
    z-index: 2;
  }

  &::-moz-range-thumb {
    opacity: 0;
    width: 2px;
    height: 4px;
    cursor: pointer;
    z-index: 2;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(
      90deg,
      var(--accent-color) 0,
      var(--accent-color) var(--range-progress, 0%),
      rgb(120, 120, 120) var(--range-progress, 0%)
    );
    -webkit-mask-image: repeating-linear-gradient(
      90deg,
      black 0, black 1px, 
      transparent 1px, transparent calc(100% / 12 - 1px),
      black calc(100% / 12 - 1px), black calc(100% / 12),
      transparent calc(100% / 12), transparent calc(100% / 12 * 2 - 1px),
      black calc(100% / 12 * 2 - 1px), black calc(100% / 12 * 2),
      transparent calc(100% / 12 * 2), transparent calc(100% / 12 * 3 - 1px),
      black calc(100% / 12 * 3 - 1px), black calc(100% / 12 * 3),
      transparent calc(100% / 12 * 3), transparent calc(100% / 12 * 4 - 1px),
      black calc(100% / 12 * 4 - 1px), black calc(100% / 12 * 4),
      transparent calc(100% / 12 * 4), transparent calc(100% / 12 * 5 - 1px),
      black calc(100% / 12 * 5 - 1px), black calc(100% / 12 * 5),
      transparent calc(100% / 12 * 5), transparent calc(100% / 12 * 6 - 1px),
      black calc(100% / 12 * 6 - 1px), black calc(100% / 12 * 6),
      transparent calc(100% / 12 * 6), transparent calc(100% / 12 * 7 - 1px),
      black calc(100% / 12 * 7 - 1px), black calc(100% / 12 * 7),
      transparent calc(100% / 12 * 7), transparent calc(100% / 12 * 8 - 1px),
      black calc(100% / 12 * 8 - 1px), black calc(100% / 12 * 8),
      transparent calc(100% / 12 * 8), transparent calc(100% / 12 * 9 - 1px),
      black calc(100% / 12 * 9 - 1px), black calc(100% / 12 * 9),
      transparent calc(100% / 12 * 9), transparent calc(100% / 12 * 10 - 1px),
      black calc(100% / 12 * 10 - 1px), black calc(100% / 12 * 10),
      transparent calc(100% / 12 * 10), transparent calc(100% / 12 * 11 - 1px),
      black calc(100% / 12 * 11 - 1px), black calc(100% / 12 * 11),
      transparent calc(100% / 12 * 11), transparent calc(100% / 12 * 12 - 1px),
      black calc(100% / 12 * 12 - 1px), black calc(100% / 12 * 12)
    );
    mask-image: repeating-linear-gradient(
      90deg,
      black 0, black 1px, 
      transparent 1px, transparent calc(100% / 12 - 1px),
      black calc(100% / 12 - 1px), black calc(100% / 12),
      transparent calc(100% / 12), transparent calc(100% / 12 * 2 - 1px),
      black calc(100% / 12 * 2 - 1px), black calc(100% / 12 * 2),
      transparent calc(100% / 12 * 2), transparent calc(100% / 12 * 3 - 1px),
      black calc(100% / 12 * 3 - 1px), black calc(100% / 12 * 3),
      transparent calc(100% / 12 * 3), transparent calc(100% / 12 * 4 - 1px),
      black calc(100% / 12 * 4 - 1px), black calc(100% / 12 * 4),
      transparent calc(100% / 12 * 4), transparent calc(100% / 12 * 5 - 1px),
      black calc(100% / 12 * 5 - 1px), black calc(100% / 12 * 5),
      transparent calc(100% / 12 * 5), transparent calc(100% / 12 * 6 - 1px),
      black calc(100% / 12 * 6 - 1px), black calc(100% / 12 * 6),
      transparent calc(100% / 12 * 6), transparent calc(100% / 12 * 7 - 1px),
      black calc(100% / 12 * 7 - 1px), black calc(100% / 12 * 7),
      transparent calc(100% / 12 * 7), transparent calc(100% / 12 * 8 - 1px),
      black calc(100% / 12 * 8 - 1px), black calc(100% / 12 * 8),
      transparent calc(100% / 12 * 8), transparent calc(100% / 12 * 9 - 1px),
      black calc(100% / 12 * 9 - 1px), black calc(100% / 12 * 9),
      transparent calc(100% / 12 * 9), transparent calc(100% / 12 * 10 - 1px),
      black calc(100% / 12 * 10 - 1px), black calc(100% / 12 * 10),
      transparent calc(100% / 12 * 10), transparent calc(100% / 12 * 11 - 1px),
      black calc(100% / 12 * 11 - 1px), black calc(100% / 12 * 11),
      transparent calc(100% / 12 * 11), transparent calc(100% / 12 * 12 - 1px),
      black calc(100% / 12 * 12 - 1px), black calc(100% / 12 * 12)
    );
    -webkit-mask-size: 100% 6px;
    mask-size: 100% 6px;
    border-radius: 0;
    cursor: pointer;
  }

  &::-moz-range-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(
      90deg,
      var(--accent-color) 0,
      var(--accent-color) var(--range-progress, 0%),
      rgb(120, 120, 120) var(--range-progress, 0%)
    );
    -webkit-mask-image: repeating-linear-gradient(
      90deg,
      black 0, black 1px, 
      transparent 1px, transparent calc(100% / 12 - 1px),
      black calc(100% / 12 - 1px), black calc(100% / 12),
      transparent calc(100% / 12), transparent calc(100% / 12 * 2 - 1px),
      black calc(100% / 12 * 2 - 1px), black calc(100% / 12 * 2),
      transparent calc(100% / 12 * 2), transparent calc(100% / 12 * 3 - 1px),
      black calc(100% / 12 * 3 - 1px), black calc(100% / 12 * 3),
      transparent calc(100% / 12 * 3), transparent calc(100% / 12 * 4 - 1px),
      black calc(100% / 12 * 4 - 1px), black calc(100% / 12 * 4),
      transparent calc(100% / 12 * 4), transparent calc(100% / 12 * 5 - 1px),
      black calc(100% / 12 * 5 - 1px), black calc(100% / 12 * 5),
      transparent calc(100% / 12 * 5), transparent calc(100% / 12 * 6 - 1px),
      black calc(100% / 12 * 6 - 1px), black calc(100% / 12 * 6),
      transparent calc(100% / 12 * 6), transparent calc(100% / 12 * 7 - 1px),
      black calc(100% / 12 * 7 - 1px), black calc(100% / 12 * 7),
      transparent calc(100% / 12 * 7), transparent calc(100% / 12 * 8 - 1px),
      black calc(100% / 12 * 8 - 1px), black calc(100% / 12 * 8),
      transparent calc(100% / 12 * 8), transparent calc(100% / 12 * 9 - 1px),
      black calc(100% / 12 * 9 - 1px), black calc(100% / 12 * 9),
      transparent calc(100% / 12 * 9), transparent calc(100% / 12 * 10 - 1px),
      black calc(100% / 12 * 10 - 1px), black calc(100% / 12 * 10),
      transparent calc(100% / 12 * 10), transparent calc(100% / 12 * 11 - 1px),
      black calc(100% / 12 * 11 - 1px), black calc(100% / 12 * 11),
      transparent calc(100% / 12 * 11), transparent calc(100% / 12 * 12 - 1px),
      black calc(100% / 12 * 12 - 1px), black calc(100% / 12 * 12)
    );
    mask-image: repeating-linear-gradient(
      90deg,
      black 0, black 1px, 
      transparent 1px, transparent calc(100% / 12 - 1px),
      black calc(100% / 12 - 1px), black calc(100% / 12),
      transparent calc(100% / 12), transparent calc(100% / 12 * 2 - 1px),
      black calc(100% / 12 * 2 - 1px), black calc(100% / 12 * 2),
      transparent calc(100% / 12 * 2), transparent calc(100% / 12 * 3 - 1px),
      black calc(100% / 12 * 3 - 1px), black calc(100% / 12 * 3),
      transparent calc(100% / 12 * 3), transparent calc(100% / 12 * 4 - 1px),
      black calc(100% / 12 * 4 - 1px), black calc(100% / 12 * 4),
      transparent calc(100% / 12 * 4), transparent calc(100% / 12 * 5 - 1px),
      black calc(100% / 12 * 5 - 1px), black calc(100% / 12 * 5),
      transparent calc(100% / 12 * 5), transparent calc(100% / 12 * 6 - 1px),
      black calc(100% / 12 * 6 - 1px), black calc(100% / 12 * 6),
      transparent calc(100% / 12 * 6), transparent calc(100% / 12 * 7 - 1px),
      black calc(100% / 12 * 7 - 1px), black calc(100% / 12 * 7),
      transparent calc(100% / 12 * 7), transparent calc(100% / 12 * 8 - 1px),
      black calc(100% / 12 * 8 - 1px), black calc(100% / 12 * 8),
      transparent calc(100% / 12 * 8), transparent calc(100% / 12 * 9 - 1px),
      black calc(100% / 12 * 9 - 1px), black calc(100% / 12 * 9),
      transparent calc(100% / 12 * 9), transparent calc(100% / 12 * 10 - 1px),
      black calc(100% / 12 * 10 - 1px), black calc(100% / 12 * 10),
      transparent calc(100% / 12 * 10), transparent calc(100% / 12 * 11 - 1px),
      black calc(100% / 12 * 11 - 1px), black calc(100% / 12 * 11),
      transparent calc(100% / 12 * 11), transparent calc(100% / 12 * 12 - 1px),
      black calc(100% / 12 * 12 - 1px), black calc(100% / 12 * 12)
    );
    -webkit-mask-size: 100% 6px;
    mask-size: 100% 6px;
    border-radius: 0;
    cursor: pointer;
  }
}

.scaleValueContainer {
  border-radius: 4px;
  display: flex
;
  align-items: center;
  width: 45px;
  height: 20px;
  transition: all 0.2s ease;
  background: transparent;
  margin-left: 25px;
  gap: 1px;
  justify-content: center;
  padding-right: 2px;
  &:hover {
    background: rgba(255, 255, 255, 0.02);
  }
}

.scalePercentage {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: left;
  color: #9fa6a9;
  cursor: text;
  white-space: nowrap;
  border-radius: 4px;
  // transition: opacity 0.2s ease;
  display: inline-block;
}

.scaleInput {
  border: none;
  border-radius: 4px;
  // width: 24px;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  color: #9fa6a9;
  padding: 0 5px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  
  &:focus, &.editing {
    color: #9fa6a9;
    background: transparent;
    outline: none;
    border: none;
  }
}
