@import '../../Variables.scss';

.button {
  width: max-content;
  height: max-content;
  padding: 0;

  background-color: transparent;

  &:hover,
  &:focus {
    background: none;
    box-shadow: none;
  }
}

.icon {
  width: 30px;

  fill: $primary-gray-text-color;
  stroke: $primary-gray-text-color;
}
