.addLinkInputContainer {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  padding: 4px 12px;
  height: 40px;
  margin-bottom: 12px;
  box-shadow: none;
}

.addLinkInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #cfd2e1;
  font-size: 1rem;
  padding: 0 8px;
  height: 40px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.addLinkInput::placeholder {
  color: #ffffff99;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.addLinkButton {
  background: none;
  border: none;
  color: #ffffff99;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 160%;
  cursor: pointer;
  padding: 0 8px;
  height: 40px;
  transition: color 0.2s;

  &.cancelButton{
    padding-right: 0px;

  }
}

.addLinkButton:hover {
  color: var(--accent-color);
}

.inputButtonContainer {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
}
