@import '../../Variables.scss';

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.tool {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  max-width: 552px;
  max-height: 132px;
  height: max-content;
  padding: 24px;
  border-radius: 16px;

  border: 1px solid #ffffff0f;

  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    border-color: #ffffff18;
  }
  &:active {
    border-color: var(--accent-color);
  }
  &.active {
    border-color: var(--accent-color);
  }
  &.bordered {
    border-color: #ffffff0f;
    backdrop-filter: none;
    background-color: transparent;

    &:hover,
    &:focus {
      border-color: #ffffff3d;
    }
    &:active {
      border-color: var(--accent-color);
    }
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
  }
  & > svg {
    position: relative;
    z-index: 1;
  }
  & > svg:first-child {
    position: absolute;
    z-index: 0;
    left: 24px;
  }
  & > svg:last-child {
    position: absolute;
    z-index: 0;
    top: 10px;
  }
}

.icon {
  display: flex;
  width: 84px;
  height: 84px;
  border-radius: 10.08px;
  position: relative;
  border: 1px solid #ffffff0a;
}

.iconContent {
  position: absolute;
  bottom: 12px;
  left: 47%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.toolContent {
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  color: $secondary-white-text-color;
  text-wrap: nowrap;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  color: #f1f1f1cc;
  white-space: pre-line;
  max-width: 320px;
}

.comingSoon {
  position: absolute;
  top: 6px;
  right: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-top: 4px;
}
