@import '../../../Variables.scss';

.regenerate_label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: $secondary-white-text-color;
}

.range {
  font-size: 16px;
}

.input {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-shadow: none;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(
      to right,
      var(--accent-color) 0%,
      var(--accent-color) var(--range-progress),
      rgba(255, 255, 255, 0.1) var(--range-progress),
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    background: var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:focus,
  &:active,
  &:hover {
    outline: none;
    border: none;
  }
}
