@import '../../Variables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
}

.searchBar_container {
  display: flex;
  gap: 24px;
  width: 100%;

  align-items: center;

  .searchBar_form {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border-color: transparent;
    overflow: hidden;
    border: 1px solid #ffffff14;
    box-shadow: none;

    .gallery_close_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px 8px 8px 16px;
      color: $secondary-white-text-color;
      transition: color 0.2s ease;
      z-index: 1;

      &:hover {
        color: white;
      }

      &.active {
        color: var(--accent-color);
      }
    }

    input {
      width: 100%;
      height: 48px;
      padding: 16px;
      padding-left: 43px;
      padding-right: 40px;
      border-radius: 24px;
      text-align: left;
      color: $secondary-white-text-color;
      background-color: $popUp-background-color;
      border-color: transparent;
      box-shadow: none;

      font-family: 'GeneralSans';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0em;
      ::placeholder {
        color: #f1f1f199;
      }
    }
    .search_btn {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border-radius: 50%;
      width: 47px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .close_btn {
      position: absolute;
      top: 20px;
      right: 16px;
      width: 12px;
      background-color: transparent;
      opacity: 0;
    }
    &:hover .close_btn,
    &:focus-within .close_btn {
      opacity: 1;
    }
  }

  .btn_set {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
