.loadingOverlay {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: relative;
}

.lottieAnimation {
  height: 138px;
  position: absolute;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
}

.lottieLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: max-content;
  min-width: 215px;
  height: max-content;
  min-height: 88px;
  background-color: transparnt;
  backdrop-filter: blur(24px);
  padding: 4px 12px;
  border-radius: 12px;
  position: relative;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    padding-left: 45px;
  }
}
