@import '../../../Variables.scss';

.container{
  display: flex;
  flex-direction: column;
  width: 346px;
  margin: 0 auto;

  h1{
    margin: 0px;
    font-family: "General Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.38583;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 27px;
  }
  
  button[type="submit"] {
    border: none;
    background: var(--accent-color);
    color: #11252f;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      opacity: 0.8;
      color: #11252f;
    }
  }
}

.content_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}