@import '../../Variables.scss';

.filter_box {
  margin-bottom: 12px;
  cursor: pointer;
  .filter_box_title {
    display: flex;
    justify-content: space-between;

    .show_btn {
      background-color: transparent;
      transition: transform 300ms ease;
      cursor: pointer;
      transform-origin: center 30%;
      margin-right: 6px;

      &.rotated {
        transform: rotateX(180deg);
      }
    }
  }
}

    .filter_box_title_text {
      font-size: 12px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0.01em;
      margin-bottom: 16px;
      color: #F1F1F1;
    }