@import '../../Variables.scss';

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  z-index: 399;
}

.popup {
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 100%;
  left: 50%;
  min-width: 112px;
  padding: 8px;

  transform: translateX(-50%);

  z-index: 401;

  border-radius: 8px;
  background-color: $popUp-background-color;
  box-shadow: $primary-box-shadow;
  backdrop-filter: blur(150px);
}

.popup_button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  transition: all 300ms ease-out;
  padding: 4px;
  gap: 10px;
  align-self: stretch;

  &:hover,
  &:focus {
    background: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.02);
    background-color: rgba(255, 255, 255, 0.02);
    color: var(--accent-color);
  }
}
