@import '../../../Variables.scss';
.skeleton_item {
  width: 100%;
  height: 100%;
  min-height: 66px;
  border-radius: 16px;
  background-color: $popUp-background-color;
  box-shadow: $primary-box-shadow;
  border: 1px solid transparent;
  transition: all 500ms ease;
  box-sizing: border-box;
  position: relative;
}
.btn{
    background-color: transparent;
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
