@import '../../Variables.scss';
@mixin close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 14px;
  height: 14px;
  padding: 0;
  background: none;
  opacity: 1;
  transition: all 0.3s ease;

  svg {
    stroke: $button-icon;
    transition: stroke 0.3s ease;
    &:hover,
    &:focus,
    &:active {
      stroke: $primary-gray-text-color;
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    background: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 9999;
}

.modal {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  background-color: $popUp-background-color;
  box-shadow: $primary-box-shadow;
  border-radius: 21.31px;
}

.main_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
  border-radius: 21.31px;
  max-width: 94vw;
  max-height: 94vh;

  background-color: $popUp-background-color;

  box-shadow: 8px 8px 15px 0px #00000040;

  box-shadow: -8px 8px 15px 0px #ffffff0a inset;
}

.close_btn {
  @include close;
  top: 13.76px;
  right: 13.76px;
  width: 36.26px;
  height: 36.26px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  &:hover,
  &:focus {
    background-color: $popUp-background-color;
  }
  &:active {
    border: 1px solid $accent-color;
  }
}

.modal_text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32.4px;
  color: $primary-white-text-color;
}
.modal_text_confirm {
  font-size: 24px;
  font-weight: 500;
  line-height: 32.4px;
  color: $primary-white-text-color;
  display: flex;
  text-align: center;
}

.close_button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    box-shadow: $accent-box-shadow;
  }
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.button {
  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  height: 48px;
  width: fit-content;
  padding: 14px;
  background-color: $primary-button-color;
  font-size: 16px;
  line-height: 20px;
  color: $primary-white-text-color;
  border-radius: 8px;
  &:hover,
  &:focus {
    color: $primary-black-text-color;
    background-color: var(--accent-color);
  }
}
.button_active {
  height: max-content;
  padding: 14px;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 20px;
  color: $primary-black-text-color;
  border-radius: 8px;
}
.modal_box {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.image_container_full {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_card {
  max-height: 80vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 18px;
}
.modal_text_confirm {
  margin-bottom: 48px;
}
