.wrap {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;

  &.gallery {
    padding-right: 0px;
  }

  &.createVideo {
    padding-left: 32px;
    padding-right: 32px;
  }

  &.storyboard {
    padding-right: 0px;
    padding-left: 0px;
  }

  &.createProject {
    padding-left: 85px;
    padding-right: 0px;
    overflow-x: hidden;
  }

  // @media (max-width: 1024px) {
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }
}

.outlet {
  // margin-top: 112px;
}
