@import '../../../Variables.scss';

.sizePopup {
  position: absolute;
  top: 26px;
  left: 25%;
  transform: translate(-44%, 10%);
  height: max-content;
  // max-height: 157px;
  overflow: hidden;
  gap: 10px;
  padding: 8px 0;
  z-index: 99999;
  pointer-events: auto;
  border-radius: 12px;
  width: 155px;
  backdrop-filter: blur(24px);
  background: rgba(8, 24, 35, 0.56);
}

.sizePopupItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  // Add margin for View details item
  &[data-action='view-details'] {
    margin-bottom: 8px;
  }

  // Add margin for Delete item
  &[data-action='delete'] {
    margin-top: 8px;
  }
}

.dropdownContent {
  // height: calc(100% - 24px);
  // max-height: 133px;
  // overflow-y: auto;

  &::-webkit-scrollbar {
    width: 2.77px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba(211, 248, 90, 0) 0%,
      #07a3b791 50%,
      rgba(211, 248, 90, 0) 100%
    );

    border-radius: 100px;
  }
}
