@import '../../../Variables.scss';

.panelContainer_wide {
  position: static;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  display: flex;
  gap: 12px;
  width: 100%;
  margin-left: 0;
  padding: 0;
  height: 100%;
}

.scrollContainer {
  width: 100%;
  height: auto;
  // max-height: 400px; 
  overflow-y: auto; 
  padding-right: 12px;
}

.panelList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.setting_item {
  margin-bottom: 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 10px;
  h1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.02em;
    color: $primary-white-text-color;
  }
}

.deleteIconContainer {
  display: flex;
      align-items: center;
      cursor: pointer;
      gap: 8px;
  
  .deleteText {
    font-family: "General Sans Variable", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #e20539;
  }
}
