@import '../../../Variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: -72px;
  z-index: 1001;
  top: 50%;
  transform: translate(0, -50%);

  &.hideNames {
    right: -50px;

    & > .animationsPanel {
      width: 40px;
    }

    & > .animationsPanel > .mainButtons {
      gap: 6.67px;
    }
  }
}

.animationsPanel {
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  padding: 5px 3px;
  border: 1px solid hsla(0, 0%, 100%, 0.04);
}

.mainButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.main_btn {
  border-radius: 4px;
  position: relative;
  background-color: transparent;
  transition: all 500ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  line-height: 12px; /* 120% */
  letter-spacing: 0.3px;
  // width: 26px;
  // height: 26px;
}

.main_btn_active {
  @extend .main_btn;
}

.more_btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main_btn_icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

.moreMenuContainer {
  position: relative;
  bottom: -5px;
  left: 0px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background: transparent;
  }
}

.moreMenu {
  position: absolute;
  top: -5px;
  left: 8px;
  border-radius: 4px;
  backdrop-filter: blur(24px);
  background: rgba(8, 24, 35, 0.56);
  animation: menuAppear 0.3s ease forwards;
  z-index: 99999999;
}
.moreMenu__item {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: 'GeneralSans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  white-space: nowrap;
  width: 100px;
  padding: 5px 12px;
}
