@import '../../../Variables.scss';

.linkInputContainer {
  margin-bottom: -6px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 3px 12px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;

  .linkInput {
    flex: 1;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    color: rgba(255, 255, 255, 0.6) !important;
    font-family: $primary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    border-radius: 0;

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .linkInputActions {
    display: flex;
    gap: 8px;

    .addBtn {
      height: 32px;
      width: 40px;
      border-radius: 6px;
      font-family: $primary-font;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
      outline: none;

      color: rgba(255, 255, 255, 0.6) !important;
      font-family: $primary-font;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 17em;
      letter-spacing: 0.01em;

      &:hover:not(:disabled) {
        color: var(--accent-color) !important;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .addBtn:last-child {
      color: white;
    }
  }
} 