.imageLoader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 69, 64, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(2px);
  z-index: 100;
  height: 100%;
}

.imageLoaderReduced {
  height: calc(100% - 80px);
}

.iconContainer {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -22px;
}

.lottieAnimation {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.loaderText {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 0;
  text-align: center;
} 