@import '../../../Variables.scss';
@mixin stepper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  align-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  width: 77px;
  padding: 0 8px;
  margin-left:32px;
  .step_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 69px;
      padding: 11.5px 7px;
      border-radius: 8.91px;
      color: #abb5ba;
      white-space: nowrap;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $primary-white-text-color;
        background: #ffffff0a;
        padding: 8.91px 4.46px;
        .title {
          color: $primary-white-text-color;
          font-size: 13.37px;
          line-height: 17.83px;
        }
        .step {
          width: 26.74px;
          height: 26.74px;
          font-size: 13.37px;
          line-height: 13.37px;
        }
      }
      &:active {
        color: var(--accent-color);
        .title {
          color: var(--accent-color);
        }
        .step {
          border-color: var(--accent-color);
        }
      }

      .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 6px;
        color: #abb5ba;
      }
      .activeTitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 6px;
        color: var(--accent-color);
        
      }
      .step {
        @include stepper;
        border: 1px solid $border-color;
      }
      .wrapper {
        position: relative;
        width: 24px;
        height: 24px;
      }
      .activeStep {
        @include stepper;
        display: inline-block;
        position: relative;
        background: transparent;
        border: none;
        &::before {
          content: '';
          position: absolute;
          width: 24px;
          inset: 0;
          padding: 1px;
          border-radius: 9999px;
          background: linear-gradient(180deg,var(--accent-color) 0%, #ffffff 66.67%),
            linear-gradient(0deg, #ffffff, #ffffff);
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
      }
      .passedStep {
        @include stepper;
        border: 1px solid var(--accent-color);
      }
      .line {
        width: 1px;
        height: 24px;
        border: 10px solid $border-color;
      }
    }
  }
}
