@import '../../Variables.scss';

@mixin button {
  color: $primary-white-text-color;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  background-color: transparent;
  display: flex;
  padding: 8px 16px;
  width: max-content;
  min-width: 98px;
  min-height: 48px;
  transition: all 500ms ease;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    border-color: $border-accent-color;
    outline: none;
    color: $secondary-white-text-color;
  }
}

.container {
  display: flex;
  position: relative;
  z-index: 10;

  .dropdownList {
    position: absolute;
    display: block;
    top: 90%;
    left: 0;
    padding: 0px;
    max-height: 445px;
    overflow-y: auto;
    z-index: 9999;
    background-color: $popUp-background-color;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: $primary-box-shadow;
    border: 1px solid $border-color;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $border-accent-color;
      border-radius: 8px;
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $primary-hover-color;
      border-radius: 10px;
    }
  }

  .dropdownItem {
    @include button;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: -0.04em;
    z-index: 999;

    &:hover,
    &:focus,
    &:active {
      box-shadow: $primary-box-shadow;
      background-color: $border-color;
    }

    p {
      margin: 0;
    }
  }
}
.dropdown_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}
.dropdown_icon_rotated {
  transition: transform 300ms ease;
  transform: scaleY(-1);
  transform-origin: center 40%;
  cursor: pointer;
}

.button_text {
  // flex: 1;
  text-align: center;
  user-select: none;
  padding-top: 7px;
  
  &:hover {
    cursor: text;
  }
}

.dropdown_container {
  position: relative;
  // margin-top: 6px;
}

.icon_container {
  display: flex !important;
  align-items: center;
  position: relative;
  margin-left: 8px;
}

.divider_line {
  // border-left: 1px solid rgba(255, 255, 255, 0.04);
  width: 1px;
  height: 35px;
  position: absolute;
  right: 26px;
  top: -13px;
}

.icon_wrapper {
  transform-origin: center 40%;
  display: flex !important
;
  width: 26px;
  z-index: 1;
  transition: transform 300ms ease;
  justify-content: center;
  align-items: center;
  padding-left: 11px;
}

.icon_wrapper_rotated {
  composes: icon_wrapper;
  transform: scaleY(-1);
}

  .dropdown_list {
    position: absolute;
    z-index: 9999999999999;
    overflow-x: hidden;  
    border-radius: 12px;
    height: auto;
    padding: 8px 0px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(8, 24, 35, 0.56);
    backdrop-filter: blur(12px);
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
  
  button {
    width: 100%;
    height: 24px;
    background-color: transparent;
    color: #FFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.12px;
    text-align: center;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      color: rgba(255, 255, 255, 0.80);
      background: rgba(255, 255, 255, 0.03);
      border-radius: 0;
    }

    &.selected,
    &[aria-selected="true"]  {
      color: rgba(255, 255, 255, 0.80);
      background: rgba(255, 255, 255, 0.03);
      border-radius: 0;
    }
  }
}

.list_btn {
  position: relative;
  z-index: 1000;
  width: 211px;
  height: 36px;
  // background: rgba(255, 255, 255, 0.04);
  
  > *:not(.icon_container) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 40px); 
    flex-shrink: 1;
  }
}

.list_item {
  position: relative;
  z-index: 1000;
}

.selected_item {
  background-color: var(--accent-color);
  color: #1b2e37 !important;
  &:hover,
  &:focus,
  &:active {
    color: #1b2e37 !important;
  }
}

.buttonText {
  margin-right: 8px;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #fff;
}


.arrow_icon{
  transition: transform 300ms ease-in-out;
  &.open{
    transform: scaleY(-1);
  }
}