@import '../../../Variables.scss';

.navBar_box {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 700;
  font-family: $primary-font;
  line-height: 20px;
  letter-spacing: 0%;
  align-items: center;

  .link {
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    color: $primary-gray-text-color;
    text-decoration: none;
    transition: all 500ms ease;

    &:hover,
    &:focus {
      color: $primary-white-text-color;
      background-color: $primary-bg-color;
      font-weight: 500;
    }

    &.active {
      color: $primary-white-text-color;
      background-color: $primary-bg-color;
      font-weight: 500;
    }
  }
}
