@import '../../../Variables.scss';

.navBar_box {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-family: $primary-font;
  line-height: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0em;

  .link {
    height: 40px;
    padding: 10px 14px;
    border-radius: 8px;
    color: $primary-gray-text-color;
    text-decoration: none;
    transition: all 500ms ease;

    &:hover,
    &:focus {
      color: $primary-white-text-color;
      background-color: $primary-bg-color;
    }

    &.active {
      color: #e1ebf3;
      background-color: #ffffff14;
      backdrop-filter: blur(30px);
    }
  }
}
