@import '../../Variables.scss';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 6px;
  padding-right: 32px;
  grid-auto-rows: 280px;
  grid-auto-flow: dense;
  &.gallery {
    padding-right: 60px;
  }
}
