.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  z-index: 1;
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  padding: 0;
  border-radius: 50%;
  background-color: transparent;

  stroke: #C7CED1;

  &:hover,
  &:focus {
    background: none;
    box-shadow: none;
    background-color: rgba(188, 188, 188, 0.2);
    stroke: #f1f1f1;
  }
}

.button_wrap {
  position: relative;
  display: flex;
  gap:8px;
  align-items: center;
}
