/* @import-normalize; bring in normalize.css styles */
@import './Variables.scss';

#selection-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none ;
  z-index: 10000;
  overflow: visible;
}

#grid-canvas-container {
  overflow: visible;
}

.canvasWrapper {
  overflow: visible;
}

.canvas-container {
  overflow: visible;
}

.upper-canvas, .lower-canvas {
  overflow: visible;
}

.Player_container,
.Player_playerContainer,
.Player_canvasContainer {
  overflow: visible;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'), local('Inter-Medium'), local('Inter-SemiBold'),
    url('./fonts/Inter/Inter-Regular.ttf') format('truetype'),
    url('./fonts/Inter/Inter-Medium.ttf') format('truetype'),
    url('./fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), local('Montserrat-Medium'),
    local('Montserrat-SemiBold'),
    url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
    url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}



:root {
  --primary-text-color: #bcbcbc;
  --secondary-text-color: #f1f1f1;
  --accent-color: #d3f85a;
  --primary-button-color: linear-gradient(
      92.08deg,
      #7dd8f5 0%,
      #a18bee 48.5%,
      #de68cb 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --secondary-button-color: #6d6d6d;
  --primary-bg-color: #1a1a1a;
  --primary-border-color: #70707b;
  --secondary-bg-color: #383633;
  --modal-bg-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  margin: 0;
  font-family: 'Inter', 'Montserat', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 32px;
  line-height: 1.2;
  color: #444444;
}

p {
  margin: 0;
  color: var(--primary-text-color);
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

input,
textarea {
  color: var(--primary-text-color);

  font-family: 'Inter';
  font-variation-settings: 'wght' 400;
  font-size: 20px;
  line-height: 1.2;
}

svg {
  transition: fill 200ms linear, stroke 200ms linear;

  fill: #909090;
  stroke: #909090;
}

a {
  &:hover svg,
  &:focus svg {
    fill: #f1f1f1;
    stroke: #f1f1f1;
  }
}

button {
  display: inline-flex;
  height: max-content;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-color);

  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 4px;

  color: #6d6c6a;

  background: var(--secondary-bg-color);

  border: none;
  cursor: pointer;

  transition: box-shadow 200ms linear, background-color 200ms linear,
    color 200ms linear;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background: var(--primary-button-color);
    box-shadow: 0px 0px 15.199999809265137px 0px rgba(226, 204, 255, 0.3);
  }

  &:hover svg,
  &:focus svg {
    fill: #f1f1f1;
    stroke: #f1f1f1;
  }
}

.button {
  display: inline-flex;
  height: max-content;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-color);

  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 4px;

  color: #6d6c6a;

  background: var(--secondary-bg-color);

  border: none;
  cursor: pointer;

  transition: box-shadow 200ms linear, background-color 200ms linear,
    color 200ms linear;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background: var(--primary-button-color);
    box-shadow: 0px 0px 15.199999809265137px 0px rgba(226, 204, 255, 0.3);
  }

  &:hover svg,
  &:focus svg {
    fill: #f1f1f1;
    stroke: #f1f1f1;
  }
}

.primary_btn {
  background: var(--primary-button-color);

  color: var(--secondary-text-color);

  transition: box-shadow 200ms linear, background-color 200ms linear;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 15.199999809265137px 0px rgba(226, 204, 255, 0.3);
  }

  &:disabled {
    color: #6d6c6a;
    background: var(--secondary-bg-color);
  }
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: var(--secondary-bg-color);
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-button-color);
  border-radius: 16px;
}

input[type='range'] {
  -webkit-appearance: none;
  position: relative;
  height: 15px;
  outline: none;
  border-radius: 13px;
  overflow: hidden;
  background-color: #383633;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #bcbcbc;
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

  cursor: ew-resize;

  box-shadow: -45px 0 0 35px #de68cb, -120px 0 0 40px #de68cb,
    -101vw 0 0 100vw #de68cb;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #de68cb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #de68cb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.swiper {
  max-width: 80vw;
  max-height: 80vh;

  --swiper-navigation-size: 32px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #464646;
}

.swiper-slide {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.load_icon {
  animation: rotate 2s linear infinite;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.loader {
  font-size: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;

  animation: mulShdSpin 1.1s infinite ease;
  transform: translate(-50% -50%);
  z-index: 15;
}

.loader_small {
  font-size: 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;

  animation: mulShdSpin 1.1s infinite ease;

  z-index: 15;
}

.floating_label_group {
  position: relative;
  width: 100%;
}

.floating_label_group .textarea {
  width: 100%;
  padding: 16px;
  padding-right: 48px;
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 20.8px;
  letter-spacing: -0.02em;
  color: #f1f1f1;
  min-height: 48px;
  resize: none;
  border: 1px solid #ffffff1f;
  background-color: #ffffff0a;
}

.floating_label_group .textarea:focus {
  outline: none;
}

.floating_label_group label {
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  padding: 0 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0048em;
  color: hsla(0, 0%, 100%, 0.6);
}

.floating_label_group .textarea:focus + label,
.floating_label_group .textarea:not(:placeholder-shown) + label {
  top: -0px;
  transform: translateY(0);
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
  background: linear-gradient(180deg, #11252f 0%, #22343d 100%);
}
