$primary-white-text-color: #ffffff;
$secondary-white-text-color: #f1f1f1;
$primary-gray-text-color: #ffffff99;
$secondary-grey-text-color: #ffffffcc;
$primary-black-text-color: #060b17;
$accent-color: #d3f85a;
$accent-purple-color: #fd4be0;
$accent-orange-color: #e16b16;
$accent-blue-color: #6985ff;
$warning-color: #ff6f91;
$accent-border: 1px solid #d3f85a;
$primary-icon-color: rgba(255, 255, 255, 0.502);
$border-color: rgba(255, 255, 255, 0.102);
$primary-hover-color: rgba(255, 255, 255, 0.039);
$border-accent-color: rgba(255, 255, 255, 0.478);
$primary-button-color: rgba(185, 198, 250, 0.122);
$secondary-button-color: rgba(255, 255, 255, 0.039);
$button-icon: hsla(0, 0%, 100%, 0.09);
$primary-box-shadow: 8px 8px 15px 0px #00000040,
  -8px 8px 15px 0px #ffffff0a inset;
$accent-box-shadow: 6.22px 6.22px 12px 0px #00000066,
  -4px 4px 12px 0px #3f43323d;

$primary-bg-color: #ffffff1f;
$secondary-bg-color: #ffffff29;
$secondary-background-color: #1a1a1a;

$modal-bg-color: #00000099;

$input-bg-color: #ffffff05;
$checkBox-bg-color: #444444cc;
$input-hover-color: #ffffff0a;

$primary-font: 'GeneralSans', sans-serif;
$secondary-font: 'Helvetica';
$accent-shadow: inset 0 0 5px $accent-color, 0 0 7px $accent-color,
  0 0 8px $accent-color;
$popUp-background-color: #11252f;
$green-shadow: rgba(211, 248, 90, 0.04);

@mixin wraper {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 92px;
  overflow-x: hidden;
  padding-left: 96px;
  padding-right: 96px;
}
@mixin container {
  background-color: inherit;
  // box-shadow: $primary-box-shadow;
  width: 100%;
  // max-height: 620px;
  // border-radius: 16px;
  align-items: center;
  color: $secondary-white-text-color;
  overflow-y: auto;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
@mixin checked {
  border: 0.75px solid $border-color;
  width: 14px;
  height: 14px;
  background-color: transparent;
  margin: 0;
  margin-right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px;
  border-radius: 4.5px;
}

@mixin uploadBtn {
  height: 48px;
  box-shadow: $primary-box-shadow;
  background-color: $input-bg-color;
  transition: all 500ms ease;
  display: flex;
  flex-direction: row-reverse;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 12px;
  color: $primary-white-text-color;
  align-items: center;
  align-content: center;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  &:hover,
  &:focus {
    border: px solid var(--accent-color);
  }
  &:active {
    color: $primary-white-text-color;
  }
}

h1 {
  align-content: center;
  justify-content: flex-start;
  display: flex;
  color: $primary-white-text-color;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.4px;
}

@mixin generateBtn {
  height: 40px;
  width: max-content;
  box-shadow: $primary-box-shadow;
  background-color: $input-bg-color;
  transition: all 500ms ease;
  display: flex;
  flex-direction: row;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16.97px;
  letter-spacing: -0.339px;
  line-height: 24px;
  color: #dbdbdb;
  border-radius: 8px;
  margin: 0;
  padding: 9.697px 16px;
  align-items: center;
  align-content: center;
  border: none;
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: $accent-box-shadow;
  }
  &:focus {
    box-shadow: $accent-box-shadow;
  }
  &:active {
    color: $primary-white-text-color;
  }
}

@mixin absoluteCentre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gradientBorder {
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    margin: -1px;
    background: linear-gradient(
      160deg,
      var(--accent-color) 25%,
      rgba(30, 29, 29, 0.1) 50%,
      var(--accent-color) 75%
    );
    z-index: -1;
  }
}

@mixin dropdown_button {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 16px;
  min-width: 98px;
  width: max-content;
  height: 40px;
  padding: 10.5px 12px;
  border-radius: 4px;
  background-color: $input-bg-color;
  box-shadow: $primary-box-shadow;
  align-items: center;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: $secondary-white-text-color;
  &:hover,
  &:focus {
    color: $secondary-white-text-color;
    background-color: #0000001a;
  }
}

@mixin dropdown_item {
  color: $primary-white-text-color;
  background-color: $popUp-background-color;
  display: flex;
  padding: 8px 16px;
  width: 100%;
  min-height: 48px;
  transition: all 500ms ease;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    border-color: $border-accent-color;
    outline: none;
    color: $secondary-white-text-color;
  }
  align-items: center;
  margin: 0;
  letter-spacing: -0.04em;
  z-index: 999;

  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $primary-box-shadow;
    background-color: $border-color;
  }

  p {
    margin: 0;
  }
}

@mixin switch_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #FFFFFF14;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    filter: brightness(1.1);
  }
}
