.customDropdown {
  position: relative;
  width: 100%;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 7px 11px 9px 12px;
  transition: all 0.2s ease;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Manrope';
  font-size: 12px;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
  }

  &.open {
    color: white;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      border-color: rgba(255, 255, 255, 0.06);
      background: transparent;
    }
  }
}

.value {
  flex: 1;
  text-align: left;
}

.caret {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  transform: none !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: 16px !important;
  height: 16px !important;
  min-width: auto !important;
  pointer-events: none !important;
  transition: transform 0.2s ease !important;

  svg {
    width: 12px;
    height: 12px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.open .caret {
  transform: scaleY(-1) !important;
}

.dropdown {
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(8, 24, 35, 0.56);
  backdrop-filter: blur(12px);
  max-height: 200px;
  z-index: 99999999999;
}

.customInput {
  padding: 4px 12px 12px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);

  h4 {
    font-size: 12px;
    color: #fff;
    margin: 0 0 8px 0;
    font-weight: 500;
    font-family: 'GeneralSans';
    line-height: 160%; /* 19.2px */
    letter-spacing: 0.24px;
  }
}

.inputGroup {
  position: relative;
  display: flex;
  gap: 8px;
}

.customInputField {
  flex: 1;
  min-height: 32px;
  padding: 7px 50px 9px 12px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Manrope';
  font-size: 12px;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.36px;
  transition: all 0.2s ease;
  resize: none;
  overflow: hidden;

  &:hover,
  &:focus {
    outline: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.08);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }

  &.expanded {
    height: max-content;
    max-height: 100px;
    overflow-y: auto;
  }

  &.empty {
    padding: 7px 12px 9px 12px;
    height: 34px;
  }
}

.doneButton {
  position: absolute;
  right: 4px;
  bottom: 4.8px;
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.7);
  font-family: 'GeneralSans';
  font-size: 12px;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  letter-spacing: 0.12px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.options {
  padding: 4px 0;
}

.option {
  display: flex;
  padding: 7px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'GeneralSans';
  font-size: 12px;
  font-weight: 400;
  line-height: 100%; /* 12px */
  letter-spacing: 0.24px;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    color: white;
  }

  &.selected {
    color: var(--accent-color);
  }
}
